server:
  port: 8989
  shutdown: graceful

application:
  development:
    name: api-gateway

spring:
  cloud:
    gateway:
      routes:
        - id: report-service
          uri: http://localhost:8081
          predicates:
            - Path=/report/**
          filters:
            - RewritePath=/report/?(?<segment>.*), /${segment}

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: false

springdoc:
  swagger-ui:
    use-root-path: true
    urls:
      - name: report
        url: /report/v3/api-docs

management:
  endpoints:
    web:
      exposure:
        include: "*"
