name: 'employee-management-system'
services:
  employee-db:
    image: postgres:17-alpine
    container_name: employee-db

    environment:
      - POSTGRES_USER=employee
      - POSTGRES_PASSWORD=employee
      - POSTGRES_DB=employee

    ports:
      - "15432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 500m