name: 'employee-management-system'

services:
  employee-db:
    image: postgres:17-alpine
    container_name: employee-db
    environment:
      POSTGRES_USER: employee
      POSTGRES_PASSWORD: employee
      POSTGRES_DB: employee
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U employee"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 500m

  notifications-db:
    image: postgres:17-alpine
    container_name: notifications-db
    environment:
      POSTGRES_USER: notification
      POSTGRES_PASSWORD: notification
      POSTGRES_DB: notification
    ports:
      - "35432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U notification"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 500m

#  auth-db:
#    image: postgres:17-alpine
#    container_name: auth-db
#    environment:
#      POSTGRES_USER: authuser
#      POSTGRES_PASSWORD: authpass
#      POSTGRES_DB: authdb
#    ports:
#      - "25432:5432"
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U authuser"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#    deploy:
#      resources:
#        limits:
#          memory: 500m


  # MESSAGE QUEUE + MAIL TESTING
  rabbitmq:
    image: rabbitmq:4.0.4-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"    # AMQP Port
      - "15672:15672"  # Web UI Port
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 30s
      retries: 10
    deploy:
      resources:
        limits:
          memory: 500m

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Web UI

  # CONFIG SERVER + CONFIG REPO
#  config-repo:
#    image: alpine/git
#    container_name: config-repo
#    volumes:
#      - ./config-repo:/data
#    command: ["tail", "-f", "/dev/null"]
#
#  config-server:
#    build: ./config-server
#    container_name: config-server
#    ports:
#      - "8888:8888"
#    environment:
#      SPRING_PROFILES_ACTIVE: native
#      SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS: file:/config-repo
#      SERVER_PORT: 8888
#    volumes:
#      - ./config-repo:/config-repo
#    depends_on:
#      - config-repo
#    healthcheck:
#      test: ["CMD", "wget", "--spider", "http://localhost:8888/actuator/health"]
#      interval: 15s
#      timeout: 5s
#      retries: 5
#
#
#  # DISCOVERY (EUREKA)
#  discovery-service:
#    build: ./discovery-service
#    container_name: discovery-service
#    ports:
#      - "8761:8761"
#    environment:
#      SPRING_APPLICATION_NAME: discovery-service
#      SERVER_PORT: 8761
#    healthcheck:
#      test: ["CMD", "wget", "--spider", "http://localhost:8761"]
#      interval: 15s
#      timeout: 5s
#      retries: 5
#
#  # AUTHENTICATION SERVICE
#  authentication-service:
#    build: ./authentication-service
#    container_name: authentication-service
#    ports:
#      - "8084:8084"
#    environment:
#      SPRING_APPLICATION_NAME: authentication-service
#      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/authdb
#      SPRING_DATASOURCE_USERNAME: authuser
#      SPRING_DATASOURCE_PASSWORD: authpass
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-service:8761/eureka
#      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
#      JWT_SECRET: MySuperSecretJwtKey123456789
#      JWT_EXPIRATION: 86400000
#    depends_on:
#      - auth-db
#      - discovery-service
#      - config-server
#
#  # API GATEWAY
#  api-gateway:
#    build: ./api-gateway
#    container_name: api-gateway
#    ports:
#      - "8080:8080"
#    environment:
#      SPRING_APPLICATION_NAME: api-gateway
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-service:8761/eureka
#      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
#    depends_on:
#      - discovery-service
#      - authentication-service
#      - employee-db
#      - config-server
